# secret folder
secret

# .idea folder
.idea

# venv folder
venv

# node_modules folder
node_modules

# package-lock.json file
package-lock.json

# _build docs folder
_build

# build contracts folder
build



